* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

body {
    background-color: #e2e7e6;
    background-size: cover;
}

.navbar {
    display: flex;
    height: 63px;
    background-color: #0f1111;
    align-items: center;
    gap: 35px;
    color: white;
}

.nav-logo {
    height: 60px;
    width: 110px;
}

.logo {
    background-image: url("C:/Users/admin/Downloads/Ama.jpg");
    cursor: pointer;
    height: 60px;
    background-size: cover;
    width: 110%;
    margin-left: 4px;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

/** box2**/

.add-first {
    color: #cccccc;
    font-size: 0.80rem;
    margin-left: 15px;
}

.add-sec {
    color: white;
    font-size: 0.98rem;
}

.fa-solid {
    color: white;
}

.add-icon {
    display: flex;
    gap: 4px;
    align-items: center;
}

/** box3 **/

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 35px;
    border-radius: 4px;
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    color: #0f0f0f;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: rgba(216, 108, 6, 0.963);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/** box4 **/

span {
    font-size: 0.7rem;
}

.nav-sec {
    font-size: 0.85rem;
    font-weight: 700;
}

/** box5 **/

.nav-cart i {
    font-size: 25px;
}

.area {
    display: flex;
    font-size: 0.9rem;
}


/** box6 **/


.navacc-sign i {

    font-size: 22px;
}

.navacc {
    font-size: 0.4rem;
}

/** panels **/

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-option p {
    display: inline;
    margin-left: 15px;
    font-weight: 700;
}

.panel-option {
    width: 70%;
    font-size: 0.80rem;
}

.panels-deals {
    font-size: 1rem;
    font-weight: 700;
}

/** hero-sec **/

.hero-sec {
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("hero.jpg");
    background-size: cover;
}

.sms {
    display: flex;
    color: black;
    background-color: white;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
    width: 90%;
}

.sms a {
    color: blue;
    font-size: 0.85rem;
}

/** shop-sec **/

.box {
    height: 350px;
    width: 23%;
    background-color: rgb(203, 25, 156);
}

.shop-sec {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.link-co {
    font-size: 0.8rem;
}

.box img:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

.link-co a:hover {
    color: blue;
}

.blank-space {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-top: 15px;
    border: 1px solid darkgrey;
    height: 200px;
    background-color: whitesmoke;
}

.blank h2 {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button {
    box-shadow: 2px 2px 3px black;
    margin-bottom: 10px;
    background-color: rgb(245, 180, 14);
    border: none;
    height: 28px;
    width: 40%;
    border-radius: 25px;
    cursor: pointer;
}

.button :hover {
    background-color: rgb(226, 167, 19);
}

.new-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-bar {
    font-size: 0.7rem;
    font-weight: 700;
}

.new-div {
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50px;
    background-color: #262d35;
}

.new-div a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-decoration: none;
}

.new-div:hover {
    background-color: #303842;
}

/** big-div **/

.big-div {
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    background-color: #344251;
    height: 400px;
}

.div1 {
    height: 320px;
}

.div1 p {
    color: rgb(144, 160, 175);
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 10px;
}

.div1 h3 {
    font-size: 1.1rem;
}

/** last-div **/

.last-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #354353;
    border: 1px solid rgb(81, 98, 114);
    height: 100px;
}

.last-div img {
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-option a {
    color: white;
    text-decoration: none;

}

.nav-sign a {
    color: white;
    text-decoration: none;

}

.panels-deals a {
    color: white;
    text-decoration: none;
}

.button a {
    color: black;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.link-co a {
    color: white;
    text-decoration: none;
}